<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <a class="navbar-brand" href="/">symfproj</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                    <a href="/crud/new" class="nav-link">New post</a>
                    </li>    
                {% endif %}
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">{{ app.user.email }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/logout">logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="/login" class="nav-link">login</a>
                </li>
            {% endif %}
            
        </ul>
    
    </div>
</nav>